.filter {
  min-width: 256px;
  min-height: 316px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  padding: 17px;
}
.filter-header {
  width: 100%;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}
.filter-body-content-header {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-top: 12px;
  margin-bottom: 8px;
}

.filter-body-content-filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.brand-dropdown,
.price-box {
  width: 100%;
  min-height: 40px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
}

.price-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.apply-button {
    width: 100%;
height: 40;
cursor: pointer;
border-radius: 10px;
background: #030213;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 16px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color:white;
}
.filter-body {
    gap:24px;
    display: flex;
    flex-direction: column;
}