.content-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px 16px;
}
.content-left {
    width: 20%;
}
.content-right {
    width: 80%;
}